ul {
  padding-inline-start: 0;
  list-style-type: none;
  text-decoration: none;
}
nav {
  display: block;
  height: 100px;
  border : white;
  border-top: white;
  margin-left: 202.3px;
  text-align: center;
  position : absolute; top: 0;
  position: fixed;
  background-color: white;
  font-family: 'Zilla Slab', serif;
  font-weight: bold;
  z-index: 3;
}
.nav-item{
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 0px 20px 10px 20px;
}
a {
  color : black;
  text-decoration: none;
  color: #295997;
}
nav li{
    display : inline;
    vertical-align: middle;
}
img{
  width: 100%;
  height: 100%;
}
img.logo{
  vertical-align: middle;
  width : 200px;
  height : 80px;
  padding: 0px 0px 10px 0px;
}
.box{
  position: absolute;
  left: 100px;
  top: 600px;
  z-index: 2;
  background-color: white;
  font-size: 14px;
  line-height: 1;
  letter-spacing: .2px;
  display: inline-block;
  padding: 17px 24px;
  border-radius: 2px;
  text-align: center;
  color: #295997;
  background-color: #fff;
  white-space: nowrap;
  font-family: 'Zilla Slab', serif;
  font-weight: bold;
}
.about_a_name{
  font-size: 48px;
  font-family: 'Zilla Slab', serif;
  color: #295997;
  font-weight: bold;
  text-align: center;
  background-color: white;
  vertical-align: middle;
  position: top:10px;
  padding: 30px 0px;
}
.background1{
  background-color: #f4f3f0;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  padding-bottom: 100px;
}
.background2{
  background-color: #f4f3f0;
  padding-bottom: 100px;
}
.about_a_img{
  width: 300px;
  height: 300px;
  text-align: center;
  vertical-align: middle;
  margin: 60px 30px 0px 30px;
  padding: 30px 30px;
}
.background1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about_a_tb{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*border: 0px;
  padding: 0px;
  margin: auto auto;
  text-align: center;
  vertical-align: middle;*/
}
.aboutus_bt{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.about_a_text{
  font-weight: bold;
  font-size: 15px;
  font-family: 'Zilla Slab', serif;
  color: #295997;
  text-align: center;
  vertical-align: middle;
  padding: 10px 30px;
}
.box1{
  /*
  position: absolute;
  left: 570px;
  top: 1355px;
  */
  z-index: 2;
  background-color: white;
  font-size: 14px;
  line-height: 1;
  letter-spacing: .2px;
  display: inline-block;
  padding: 17px 24px;
  border-radius: 2px;
  text-align: center;
  color: #295997;
  background-color: #fff;
  white-space: nowrap;
  font-family: 'Zilla Slab', serif;
  font-weight: bold;
  margin-top: 40px;
}
.service_name{
  font-size: 48px;
  font-family: 'Zilla Slab', serif;
  color: #295997;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  position: top:10px;
  padding: 40px 0px 30px 0px;
}
#third{
  padding-right: 110px;
}
#fourth{
  padding-left: 200px;
}
.slider{
}
.sliderimg{
  weight: 100px;
  height: 700px;
}
.client{
  margin: auto auto;
}
.client td {
  width: 300px;
}
.table1 p{
  color: rgb(0, 113, 206);
  font-size: 15px;
}
.table2 p{
  color: rgb(0, 113, 206);
  font-size: 15px;
}
.table3 p{
  color: rgb(0, 113, 206);
  font-size: 15px;
}
.table1 {
  font-family: 'Zilla Slab', serif;
}
.table2{
  font-family: 'Zilla Slab', serif;
}
.table3{
  font-family: 'Zilla Slab', serif;
}
.box3{
  position: absolute;
  left: 725px;
  top: 2835px;
  z-index: 2;
  background-color: white;
  font-size: 14px;
  line-height: 1;
  letter-spacing: .2px;
  display: inline-block;
  padding: 17px 24px;
  border-radius: 2px;
  text-align: center;
  color: #295997;
  background-color: #fff;
  white-space: nowrap;
  font-family: 'Zilla Slab', serif;
  font-weight: bold;
}
.footer{
  padding: 40px;
  margin-top: 0;
  font-family: 'Zilla Slab', serif;
  color: white;
  background-color: #295997;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}
